 <div class="businesstoday_header">
    <div class="bt_top_section">
      <div class="logo-bt"><a href="" title=""><img src="http://media2.intoday.in/businesstoday/wap/2017/images/bt-logo.png" alt="Business Today" /></a></div>
      <div class="hamburger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <div class="bt-dropdown_nav_container">
      <div class="bt-top_search_container">
        <input type="text" class="bt-search_text" placeholder="Enter search keyword" />
        <button type="button" class="bt-btn_search"></button>
      </div>
      <div class="bt-top_social_container">
        <ul>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/facebook.jpg" alt=""></a></li>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/twitter.jpg" alt=""></a></li>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/gplus.jpg" alt=""></a></li>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/whatsapp.jpg" alt=""></a></li>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/message.jpg" alt=""></a></li>
        </ul>
      </div>
      <div class="bt-top_cont">
        <ul class="bt-topdown">
          <li><a href="" title="">Economy &raquo;</a></li>
          <li><a href="" title="">Tech &raquo;</a></li>
          <li><a href="" title="">Corporate &raquo;</a></li>
          <li><a href="" title="">Opinion &raquo;</a></li>
          <li><a href="" title="">Markets &raquo;</a></li>
          <li><a href="" title="">Photos &raquo;</a></li>
          <li><a href="" title="">Money &raquo;</a></li>
          <li><a href="" title="">Videos &raquo;</a></li>
          <li><a href="" title="">Industry &raquo;</a></li>
          <li><a href="" title="">Magazine &raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>