<div class="businesstoday_navigation">
    <div class="bt_nav_section">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a routerLink="/" [routerLinkActive]="['active_tab']" [routerLinkActiveOptions]="{exact: true}">Home</a></div>
          <div class="swiper-slide"><a routerLink="/economy" [routerLinkActive]="['active_tab']" [routerLinkActiveOptions]="{exact: true}" title="">Economy</a></div>
          <div class="swiper-slide"><a href="" title="">Tech</a></div>
          <div class="swiper-slide"><a href="" title="">Corporate</a></div>
          <div class="swiper-slide"><a href="" title="">Opinion</a></div>
          <div class="swiper-slide"><a href="" title="">Markets</a></div>
          <div class="swiper-slide"><a routerLink="/photos" [routerLinkActive]="['active_tab']" [routerLinkActiveOptions]="{exact: true}">Photos</a></div>
          <div class="swiper-slide"><a href="" title="">Money</a></div>
          <div class="swiper-slide"><a href="" title="">Videos</a></div>
          <div class="swiper-slide"><a href="" title="">Industry</a></div>
          <div class="swiper-slide"><a href="" title="">Magazine</a></div>
        </div>
      </div>
    </div>
  </div>
