  <div class="businesstoday_footer">
    <div class="bt-footer">
      <ul class="bt-foot">
        <li><a href="" title="">Economy &raquo;</a></li>
        <li><a href="" title="">Tech &raquo;</a></li>
        <li><a href="" title="">Corporate &raquo;</a></li>
        <li><a href="" title="">Opinion &raquo;</a></li>
        <li><a href="" title="">Markets &raquo;</a></li>
        <li><a href="" title="">Photos &raquo;</a></li>
        <li><a href="" title="">Money &raquo;</a></li>
        <li><a href="" title="">Videos &raquo;</a></li>
        <li><a href="" title="">Industry &raquo;</a></li>
        <li><a href="" title="">Magazine &raquo;</a></li>
      </ul>
    </div>
    <div class="bt-copyright">
      <p>Copyright &copy; 2017 Living Media India Limited.</p>
    </div>
  </div>